.alapbarna {
  background-color: rgb(224, 197, 144);
  text-decoration-color: black;
}

.alapkek {
  color: rgb(27, 49, 90);
}

.sorkizart {
  text-align: justify;
  
  
  text-justify: inter-word;
}


.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  /*
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  */
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.div-szurke {
  background-color: #cccccc;
}

.div-b2 {
  background-image: url("hatter2.jpg");
  background-size: 97%;
}

.glass3{
  background: linear-gradient(135deg, rgb(231, 161, 68));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border:20px solid rgba(107, 99, 99, 0);
  color: white;
}




